In [1]:
from bs4 import BeautifulSoup
import requests
from time import sleep
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import sqlite3 as sql
import pandas as pd
import urllib.request
import re

In [2]:
product_urls = []
list_of_reviews = []

In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
#driver = webdriver.Chrome(executable_path='chromedriver.exe')
for i in range(1, 251):
    driver = webdriver.Chrome (executable_path="C:\kishi\python\chromedriver")
    driver.get(f"https://www.etsy.com/in-en/c/jewelry/earrings/ear-jackets-and-climbers?ref=pagination&page={i}")
    for a in driver.find_elements_by_tag_name("a"):
        link = a.get_attribute('href')
        if link:
            if 'https://www.etsy.com/in-en/listing/' in link:
                product_urls.append(link)
print(product_urls)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [4]:
len(product_urls)

15984

In [5]:
driver = webdriver.Chrome(executable_path='chromedriver.exe')  
for product_url in product_urls:
    try:
        driver.get(product_url)
        sleep(5)
        html = driver.page_source
        soup = BeautifulSoup(html,'html')
        for i in range(4):
            try:
                list_of_reviews.append(soup.select(f'#review-preview-toggle-{i}')[0].getText().strip())
            except:
                continue
                break
    except:
        continue

scrapedReviewsAll = pd.DataFrame(list_of_reviews, index = None, columns = ['reviews'])         
scrapedReviewsAll.to_csv('ScrapedReviewsAll.csv')
df = pd.read_csv('ScrapedReviewsAll.csv')

In [6]:
df.head()

   Unnamed: 0                                            reviews
0           0  Absolutely love my new pieces! I bought both t...
1           1  This picture does not do it justice. I got the...
2           2  An absolutely beautiful piece of jewellery. I ...
3           3  The earrings are even more beautiful in person...
4           4  Die Ohrklemmen wurden sehr schnell geliefert. ...

In [7]:
df.shape

(54045, 2)

In [2]:
import sqlite3 as sql
import pandas as pd

In [3]:
df = pd.read_csv('ScrapedReviewsAll.csv')
conn = sql.connect('scrapedReviewsAll.db')
df.to_sql('scrapedReviewsAllTable', conn)

C:\Users\kishore\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(